.root {
    --main-title-color:#212121;
    --two-title-color:#FFFFFF;
    --main-btn-color:#FFFFFF;
}
.body {
 font-family: "Roboto", sans-serif;
 letter-spacing: 0.03em;
 font-weight: 400;
 background-color: var(--main-btn-color);
 }

.main-effect {
    background-color: #2F303A;
}
.type-cursor{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color:#FFFFFF;
}
.header{
    background: var(--main-btn-color);
    list-style-type: none;
    text-decoration: none;
}
.link{
    text-decoration: none;
    font-family:'Raleway',sans-serif;
}
.logo {
    font-family:'Raleway', sans-serif;
    font-weight:700;
    font-size: 26px;
    line-height: 1.19; 
    color: #2196F3;
}

.logo-two {
    color: black;
}
.logo-thre{
    color:#FFFFFF;
}
.list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    list-style: none;
}
.list-stud{
    color: #2196F3;
   
 }
.list-cont{
    color:var(--main-title-color);

}
.list-tel {
    color:#757575 ;
   
}
.list-item{
    list-style: none;
}
/*спрятали заголовок список работ*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.main-head{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.main-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
} 

.type-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-title-color);
}
.type-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.task,  .comand {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--main-title-color);
}
.comand {
    background-color: #F5F4FA;
}
    
.comand-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-title-color);
}
.comand-position {
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}
.non-decor{
    text-decoration: none;
    list-style: none;
}
.cont-link:hover ,
.cont-link:focus{
    color: brown;
}